body{
    background-image: linear-gradient(to right, #080000, #f80707);

}
.container{
    display: grid;
    height:100vh;
    grid-template-columns: repeat(4,50px);
    grid-auto-rows: 7%;
    gap: 5px;
    place-content: center;

}
h1{
    display: flex;
    justify-content: center;
    align-items:center ;
    
    color:white;
}
#display{
    grid-column: 1/-1;
    height: 90%;
    display: flex;
    border: 1px solid gray;
    background-color: white;
    justify-content: end;
    align-items: center;
    font-size: 90%;
    font-weight: bolder;
    border-radius: 5px;
    

}
.equal{
     grid-row: 4/8;
     grid-column: 4/5;
     background-color: royalblue;
}
.AC{
    background-color: orangered;
    grid-column: 2/4;
}
.keys:not(.equal):not(.AC):hover{
    background-color: gray;
}
.keys{
    border-radius: 3px;
      font-size: 90%;
      border: none;
        font-weight: bolder;
}



